* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    width: 100%;
    height: 770px;
    background: rgba(0, 0, 0, 0.4) url(img/hero.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    background-position: center;
}

#main .navbar {
    width: 70%;
    padding-top: 40px;
    margin-left: 15%;
}

#main .navbar .navbar-brand {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

#main .navbar-nav .nav-link {
    color: rgb(189, 189, 189);
}

#main #rightside {
    margin-top: 9%;
    margin-left: 57.5%;
}

#main #rightside h1 {
    width: 500px;
    font-size: 50px;
    color: white;
}

#main #rightside p {
    width: 580px;
    color: rgb(189, 189, 189);
    margin-top: 50px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

#main #rightside .btn1 {
    width: 160px;
    height: 60px;
    margin-top: 50px;
    border-radius: 10px;
    background-color: rgb(0, 114, 221);
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
    padding-left: 30px;
    color: white;
}

#main #rightside .btn1 span {
    padding-left: 10px;
}

#main #rightside .btn2 {
    width: 160px;
    height: 60px;
    border-radius: 10px;
    border: 2px solid white;
    margin-top: -60px;
    padding-top: 20px;
    padding-left: 30px;
    margin-left: 25%;
    color: white;
    font-family: 'Roboto', sans-serif;
}

#main #rightside .btn2 span {
    padding-left: 10px;
}

#main #rightside .btn2:hover {
    background-color: white;
    color: black;
}

/* //////////////////////////////SECTION1///////////////////////////////////// */
.main1 {
    width: 100%;
    height: 770px;
    background-color: rgb(32, 32, 32);
    display: flex;
    justify-content: center;
}

.main1 .leftside {
    margin-left: -10%;
    padding-top: 8%;
    padding-left: 10%;
}

.main1 .leftside h1 {
    width: 500px;
    font-size: 50px;
    color: white;
}

.main1 .leftside p {
    width: 450px;
    color: rgb(150, 150, 150);
    margin-top: 50px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.main1 .leftside .btn3 {
    width: 180px;
    height: 60px;
    margin-top: 50px;
    border-radius: 10px;
    background-color: rgb(0, 114, 221);
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
    padding-left: 30px;
    color: white;
}

.main1 .leftside .btn3 span {
    padding-left: 10px;
}

.main1 .img {
    width: 580px;
    height: 600px;
    background-image: url(img/about-img.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 9%;
}

/* //////////////////////////////section2///////////////////////////////////// */
#main2 {
    width: 100%;
    height: 770px;
    background-color: rgb(44, 44, 44);
    font-family: 'Roboto', sans-serif;
}

#main2 h1 {
    font-size: 50px;
    padding-top: 5%;
    padding-left: 6%;
    font-family: 'Playfair Display', serif;
    color: white;
}

#main2 .box {
    padding-top: 5%;
    display: flex;
    justify-content: space-evenly;
}

#main2 .box .box1 {
    width: 400px;
    height: 200px;
}

#main2 .box .box1 h3 {
    padding-top: 30px;
    color: white;
    padding-left: 20px;
    font-family: 'Playfair Display', serif;
}

#main2 .box .box1 p {
    padding-top: 20px;
    color: rgb(189, 189, 189);
    padding-left: 20px;
    font-size: 13px;
}

#main2 .box .icon {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(0, 114, 221);
}

#main2 .box .icon .fa-solid {
    padding-left: 20px;
    font-size: 30px;
    padding-top: 8px;
    color: white;
}

#main2 .box2 {
    padding-top: 5%;
    display: flex;
    justify-content: space-evenly;
}

#main2 .box2 .box1 {
    width: 400px;
    height: 200px;
}

#main2 .box2 .box1 h3 {
    padding-top: 30px;
    color: white;
    padding-left: 20px;
    font-family: 'Playfair Display', serif;
}

#main2 .box2 .box1 p {
    width: 400px;
    padding-top: 20px;
    color: rgb(189, 189, 189);
    padding-left: 20px;
    font-size: 13px;
}

#main2 .box2 .icon {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(0, 114, 221);
}

#main2 .box2 .icon .fa-solid {
    padding-left: 20px;
    font-size: 30px;
    padding-top: 8px;
    color: white;
}

/* //////////////////////////////section3///////////////////////////////////// */
#main3 {
    width: 100%;
    height: 770px;
    background-color: rgb(32, 32, 32);
}

#main3 h1 {
    font-size: 50px;
    padding-top: 5%;
    padding-left: 9%;
    font-family: 'Playfair Display', serif;
    color: white;
}

#main3 .main3-3 {
    display: flex;
    justify-content: center;
}

#main3 .img1 img {
    width: 700px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5%;
    margin-left: -2%;
}

#main3 .rightside {
    margin-left: 3%;
    margin-top: 3%;
}

#main3 .rightside h2 {
    width: 500px;
    font-size: 50px;
    color: white;
}

#main3 .rightside p {
    width: 450px;
    margin-top: 20px;
    color: rgb(189, 189, 189);
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

#main3 .rightside .btn4 {
    width: 180px;
    height: 60px;
    margin-top: 50px;
    border-radius: 10px;
    background-color: rgb(0, 114, 221);
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
    padding-left: 30px;
    color: white;
}

#main3 .rightside .btn4 span {
    padding-left: 10px;
}

/* //////////////////////////////section5///////////////////////////////////// */
#main5 {
    width: 100%;
    height: 800px;
    background-color: rgb(54, 54, 54);
    position: relative;
    font-family: 'Roboto', sans-serif;
}

#main5 h1 {
    font-size: 50px;
    padding-top: 3%;
    padding-left: 9%;
    font-family: 'Playfair Display', serif;
    color: white;
}

#main5 .main-box {
    width: 1300px;
    margin-top: 30px;
    margin-left: 9%;
    display: flex;
    justify-content: space-between;
}

#main5 .main-b {
    width: 425px;
    height: 150px;
    background-color: #0F0F11;
    padding-top: 20px;
    padding-left: 10px;
    color: white;
}

#main5 .main-b:hover {
    background-color: #037EF3;
}

#main5 .main-b h4 {
    font-weight: 300px;
    color: white;
    margin-top: -20px;
    padding-left: 30px;
}

#main5 .main-box1 {
    width: 1300px;
    margin-left: 9%;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

#main5 .main-box2 {
    width: 1300px;
    margin-left: 9%;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

#main5 .main-box3 {
    width: 1300px;
    margin-left: 9%;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

/* //////////////////////////////section5///////////////////////////////////// */
#main6 {
    width: 100%;
    height: 700px;
    background-color: rgb(46, 46, 46);
    position: relative;
    font-family: 'Roboto', sans-serif;
}

#main6 .main6-6 {
    display: flex;
    justify-content: center;
}

#main6 h1 {
    font-size: 50px;
    padding-top: 3%;
    padding-left: 9%;
    font-family: 'Playfair Display', serif;
    color: white;
}

#main6 .leftside1 {
    width: 500px;
    height: 400px;
    margin-top: 3%;
    margin-left: 1%;
}

#main6 .leftside1 ul li {
    width: 300px;
    height: 70px;
    border-radius: 10px;
    padding-top: 1.5%;
    margin-left: -5%;
    color: #037EF3;
    margin-top: 10px;
    list-style-type: none;
}

#main6 .leftside1 ul li span {
    padding-left: 10px;
}

#main6 .leftside1 ul li img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

#main6 .rightside1 {
    width: 700px;
    height: 400px;
    margin-top: 3%;
    margin-left: 4%;
}

#main6 .rightside1 p {
    font-size: 30px;
    color: white;
    line-height: 45px;
}

#main6 .rightside1 h4 {
    margin-top: 25px;
    color: white;
}

#main6 .rightside1 h4 span {
    line-height: 40px;
    color: gray;
}




@media screen and (max-width: 1400px) {
    #main #rightside {
        margin-top: 9%;
        margin-left: 40%;
    }

    #main3 .img1 img {
        width: 90%;
        height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 5%;
        margin-left: 5%;
    }

    /* //////////////////////////////section5///////////////////////////////////// */
    #main5 {
        width: 100%;
        height: 900px;
    }

    #main5 h1 {
        width: 90%;
    }

    #main5 .main-box {
        width: 90%;
        margin-left: 5%;
        flex-wrap: wrap-reverse;
    }

    #main5 .main-b {
        width: 30%;
        margin-top: 3%;
    }

    #main5 .main-box1 {
        width: 90%;
        margin-left: 5%;
        flex-wrap: wrap-reverse;
    }

    #main5 .main-box2 {
        width: 90%;
        margin-left: 5%;
        flex-wrap: wrap-reverse;
    }

    #main5 .main-box3 {
        width: 90%;
        margin-left: 5%;
        flex-wrap: wrap-reverse;
    }
}

@media screen and (max-width: 1200px) {
    #main #rightside {
        margin-top: 9%;
        margin-left: 20%;
    }

    /* //////////////////////////////SECTION1///////////////////////////////////// */
    .main1 {
        width: 100%;
        height: 770px;
        background-color: rgb(32, 32, 32);
        display: flex;
        justify-content: center;
    }

    .main1 .leftside {
        margin-left: 1%;
        padding-top: 8%;
        padding-left: 1%;
    }

    .main1 .img {
        width: 500px;
        height: 600px;
        background-image: url(img/about-img.webp);
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: 5%;
        margin-right: 3%;
    }

    /* //////////////////////////////section2///////////////////////////////////// */
    #main2 .box .box1 p {
        width: 90%;
    }

    #main2 .box2 .box1 p {
        width: 90%;
    }

    #main2 .box {
        margin-left: 2%;
    }

    #main2 .box2 {
        margin-left: 2%;
    }

    /* //////////////////////////////section3///////////////////////////////////// */
    #main3 .img1 img {
        width: 90%;
        height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 5%;
        margin-left: 5%;
    }

    /* //////////////////////////////section5///////////////////////////////////// */
    #main5 {
        width: 100%;
        height: 900px;
    }

    #main5 h1 {
        width: 90%;
    }

    #main5 .main-box {
        width: 90%;
        margin-left: 5%;
        flex-wrap: wrap-reverse;
    }

    #main5 .main-b {
        width: 30%;
        margin-top: 3%;
    }

    #main5 .main-box1 {
        width: 90%;
        margin-left: 5%;
        flex-wrap: wrap-reverse;
    }

    #main5 .main-box2 {
        width: 90%;
        margin-left: 5%;
        flex-wrap: wrap-reverse;
    }

    #main5 .main-box3 {
        width: 90%;
        margin-left: 5%;
        flex-wrap: wrap-reverse;
    }

    /* //////////////////////////////section6///////////////////////////////////// */
    #main6 .rightside1 {
        width: 90%;
        height: 400px;
        margin-top: 3%;
        margin-left: 4%;
    }

    #main6 .rightside1 p {
        font-size: 30px;
        color: white;
        line-height: 35px;
    }
}

@media screen and (max-width: 992px) {
    #main .navbar {
        width: 90%;
        margin-left: 5%;
    }

    #main #rightside {
        margin-top: 9%;
        margin-left: 20%;
    }

    /* //////////////////////////////SECTION1///////////////////////////////////// */
    .main1 {
        width: 100%;
        height: 770px;
        background-color: rgb(32, 32, 32);
        display: flex;
        justify-content: center;
    }

    .main1 .leftside {
        margin-left: 1%;
        padding-top: 8%;
        padding-left: 1%;
    }

    .main1 .img {
        width: 500px;
        height: 600px;
        background-image: url(img/about-img.webp);
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: 5%;
        margin-right: 3%;
    }

    /* //////////////////////////////section2///////////////////////////////////// */
    #main2 .box .box1 p {
        width: 90%;
    }

    #main2 .box2 .box1 p {
        width: 90%;
    }

    #main2 .box {
        margin-left: 2%;
    }

    #main2 .box2 {
        margin-top: 5%;
        margin-left: 2%;
    }

    /* //////////////////////////////section3///////////////////////////////////// */
    #main3 {
        width: 100%;
        height: 100%;
        background-color: rgb(32, 32, 32);
    }

    #main3 .main3-3 {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
    }

    #main3 .img1 img {
        width: 90%;
        height: 40%;
        margin-top: 7%;
        margin-left: 5%;
        margin-bottom: 5%;
    }

    #main3 .rightside {
        margin-left: 3%;
        margin-top: 3%;
    }

    #main3 .rightside h2 {
        width: 90%;
    }

    #main3 .rightside p {
        width: 90%;
    }

    /* //////////////////////////////section5///////////////////////////////////// */
    #main5 {
        width: 100%;
        height: 900px;
    }

    #main5 h1 {
        width: 90%;
    }

    #main5 .main-box {
        width: 90%;
        margin-left: 5%;
        flex-wrap: wrap-reverse;
    }

    #main5 .main-b {
        width: 30%;
        margin-top: 3%;
    }

    #main5 .main-box1 {
        width: 90%;
        margin-left: 5%;
        flex-wrap: wrap-reverse;
    }

    #main5 .main-box2 {
        width: 90%;
        margin-left: 5%;
        flex-wrap: wrap-reverse;
    }

    #main5 .main-box3 {
        width: 90%;
        margin-left: 5%;
        flex-wrap: wrap-reverse;
    }

    /* //////////////////////////////section6///////////////////////////////////// */
    #main6 .rightside1 {
        width: 90%;
        height: 400px;
        margin-top: 3%;
        margin-left: 2%;
    }

    #main6 .rightside1 p {
        font-size: 20px;
        color: white;
        line-height: 35px;
    }
}

@media screen and (max-width: 768px) {
    #main .navbar {
        width: 90%;
        margin-left: 5%;
    }

    #main #rightside {
        width: 90%;
        margin-top: 9%;
        margin-left: 2%;
    }

    #main #rightside h1 {
        width: 90%;
    }

    #main #rightside p {
        width: 90%;
    }

    #main #rightside .btn2 {
        margin-left: 30%;
    }

    /* //////////////////////////////main1////////////////////////////////////// */
    .main1 {
        flex-wrap: wrap-reverse;
    }

    .main1 .leftside {
        width: 90%;
        margin-left: 2%;
        padding-top: 8%;
        padding-left: 1%;
    }

    .main1 .leftside h1 {
        width: 90%;
    }

    .main1 .leftside p {
        width: 90%;
    }

    .main1 .img {
        width: 90%;
        height: 300px;
        background-image: url(img/about-img.webp);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin-top: 9%;
        margin-left: -25px;
    }

    /* //////////////////////////////main2////////////////////////////////////// */
    #main2 {
        height: 100%;
    }

    #main2 .box {
        padding-top: 1%;
        flex-wrap: wrap-reverse;
    }

    #main2 .box2 {
        padding-top: 1%;
        flex-wrap: wrap-reverse;
    }

    #main2 .box .box1 {
        margin-top: 8%;
        margin-left: 1%;
    }

    #main2 .box2 .box1 {
        margin-top: 8%;
        margin-left: 1%;
    }

    #main2 .box .box1 p {
        width: 90%;
    }

    #main2 .box2 .box1 p {
        width: 90%;
    }

    #main2 .box .box1 {
        width: 90%;
    }

    #main2 .box2 .box1 {
        width: 90%;
    }

    #main2 h1 {
        width: 90%;
    }

    /* //////////////////////////////section3///////////////////////////////////// */
    #main3 {
        width: 100%;
        height: 100%;
        background-color: rgb(32, 32, 32);
    }

    #main3 .main3-3 {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
    }

    #main3 .img1 img {
        width: 90%;
        height: 40%;
        margin-top: 7%;
        margin-left: 5%;
        margin-bottom: 5%;
    }

    #main3 .rightside {
        margin-left: 3%;
        margin-top: 3%;
    }

    #main3 .rightside h2 {
        width: 90%;
    }

    #main3 .rightside p {
        width: 90%;
    }

    /* //////////////////////////////section5///////////////////////////////////// */
    #main5 {
        width: 100%;
        height: 100%;
    }

    #main5 h1 {
        width: 90%;
    }

    #main5 .main-box {
        width: 90%;
        margin-left: 5%;
        flex-wrap: wrap-reverse;
    }

    #main5 .main-b {
        width: 100%;
        margin-top: 3%;
    }

    #main5 .main-box1 {
        width: 90%;
        margin-left: 5%;
        flex-wrap: wrap-reverse;
    }

    #main5 .main-box2 {
        width: 90%;
        margin-left: 5%;
        flex-wrap: wrap-reverse;
    }

    #main5 .main-box3 {
        width: 90%;
        margin-left: 5%;
        flex-wrap: wrap-reverse;
    }

    /* //////////////////////////////section5///////////////////////////////////// */
    #main6 .main6-6 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap-reverse;
    }

    #main6 .leftside1 {
        width: 90%;
        height: 250px;
        margin-top: 10%;
        margin-left: 1%;
    }

    #main6 .rightside1 {
        width: 90%;
        height: 250px;
        margin-top: 3%;
        margin-left: 4%;
    }

    #main6 .rightside1 p {
        font-size: 20px;
        color: white;
        line-height: 30px;
    }
}

@media screen and (max-width: 576px) {
    #main .navbar {
        width: 90%;
        margin-left: 5%;
    }

    #main #rightside {
        width: 90%;
        margin-top: 9%;
        margin-left: 2%;
    }

    #main #rightside h1 {
        width: 90%;
    }

    #main #rightside p {
        width: 90%;
    }

    #main #rightside .btn2 {
        margin-left: 50%;
    }

    /* //////////////////////////////main1////////////////////////////////////// */
    .main1 {
        flex-wrap: wrap-reverse;
    }

    .main1 .leftside {
        width: 90%;
        margin-left: 2%;
        padding-top: 8%;
        padding-left: 1%;
    }

    .main1 .leftside h1 {
        width: 90%;
    }

    .main1 .leftside p {
        width: 90%;
    }

    .main1 .img {
        width: 90%;
        height: 30%;
        background-image: url(img/about-img.webp);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin-top: 14%;
        margin-left: -25px;
    }

    /* //////////////////////////////main2////////////////////////////////////// */
    #main2 {
        height: 1700px;
    }

    #main2 .box {
        padding-top: 1%;
        flex-wrap: wrap-reverse;
    }

    #main2 .box2 {
        padding-top: 1%;
        flex-wrap: wrap-reverse;
    }

    #main2 .box .box1 {
        margin-top: 8%;
        margin-left: 1%;
    }

    #main2 .box2 .box1 {
        margin-top: 8%;
        margin-left: 1%;
    }

    #main2 .box .box1 p {
        width: 90%;
    }

    #main2 .box2 .box1 p {
        width: 90%;
    }

    #main2 .box .box1 {
        width: 90%;
    }

    #main2 .box2 .box1 {
        width: 90%;
    }

    #main2 h1 {
        width: 90%;
    }

    /* //////////////////////////////section3///////////////////////////////////// */
    #main3 .main3-3 {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
    }

    #main3 .img1 img {
        width: 90%;
        height: 40%;
        margin-top: 7%;
        margin-left: 5%;
    }

    #main3 .rightside {
        margin-left: 3%;
        margin-top: 3%;
    }

    #main3 .rightside h2 {
        width: 90%;
    }

    #main3 .rightside p {
        width: 90%;
    }

    /* //////////////////////////////section5///////////////////////////////////// */
    #main5 {
        width: 100%;
        height: 100%;
    }

    #main5 h1 {
        width: 90%;
    }

    #main5 .main-box {
        width: 90%;
        margin-left: 5%;
        flex-wrap: wrap-reverse;
    }

    #main5 .main-b {
        width: 100%;
        margin-top: 3%;
    }

    #main5 .main-box1 {
        width: 90%;
        margin-left: 5%;
        flex-wrap: wrap-reverse;
    }

    #main5 .main-box2 {
        width: 90%;
        margin-left: 5%;
        flex-wrap: wrap-reverse;
    }

    #main5 .main-box3 {
        width: 90%;
        margin-left: 5%;
        flex-wrap: wrap-reverse;
    }

    /* //////////////////////////////section5///////////////////////////////////// */
    #main6 .main6-6 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap-reverse;
    }

    #main6 .leftside1 {
        width: 90%;
        height: 250px;
        margin-top: 18%;
        margin-left: 1%;
    }

    #main6 .rightside1 {
        width: 90%;
        height: 250px;
        margin-top: 3%;
        margin-left: 4%;
    }

    #main6 .rightside1 p {
        font-size: 20px;
        color: white;
        line-height: 25px;
    }
}